body {
    padding: 0;
    margin: 0;
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 300px;
}

.main > input {
    width: 300px;
    height: 40px;
}

#task::placeholder{
    font-family: inherit;
}

.submit__btn {
    height: 35px;
    margin-left: 10px;
    border: 2px white solid;
    background-color: transparent;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    width: 100px;
    transition: all ease-in 0.2s;
}

.submit__btn:hover {
    background-color: rgb(44, 44, 44);
}

.tasks__div {
    color: white;
    width: 300px;
}

.tasks__div ol {
    padding: 20px;
}

.tasks__div li{
    height: 35px;
    cursor: pointer;
}


.tasks__div button{
    height: 35px;
    margin-left: 10px;
}

#list {
    list-style-type: decimal !important;
}

#list li {
    justify-content: flex-start;
}

#list li.completed {
    text-decoration: line-through;
}

h1 {
    color: #eee;
}